@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@import 'normalize';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font-family: 1.5rem/1.6 'PT Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}